.btn { 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: 600;
     border: none;
      cursor: pointer; 
      transition: all 0.3s ease; 
      font-family: inherit; 
    } 
    .btn-primary {
         background-color: #49CDAB; 
         color: white;
         } 
         .btn-secondary { 
            background-color: #674DF0;
             color: white; 
            }
            .btn, .btn-primary, .btn-secondary {
    border-radius: 0 !important;
}
