

.countdown {
  display: flex;
  gap: 16px;
  max-width: 775px;
  background-color:#f3f5f5;
}

.timeBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
   
}

.timeValue {
 background-color:white;
  color: #0E2A46;
  font-size: 40px;
  font-weight: 700;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 0;
 
}

.timeLabel {
  background-color: #7B68EE;
  color: white;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: center;
  
}


@media (max-width: 768px) {
  .countdown {
    gap: 8px;
  }

  .timeValue {
    font-size: 48px;
    padding: 30px 15px;
  }

  .timeLabel {
    font-size: 12px;
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .countdown {
    gap: 6px;
  }

  .timeValue {
    font-size: 36px;
    padding: 20px 10px;
  }

  .timeLabel {
    font-size: 10px;
    padding: 8px 10px;
  }
}